transformers
sounddevice
pygame
pyaudio
phonemizer
librosa
piper-tts
piper-phonemize
vosk
python-dotenv
openai
pydub
-e git+https://github.com/huggingface/parler-tts.git#egg=parler-tts

pypdf
langchain
langchain_openai
langchain_community
redisvl