transformers
sounddevice
pygame
pyaudio
phonemizer
librosa
tortoise-tts
TTS
piper-tts
piper-phonemize
vosk
python-dotenv
openai
pydub
-e git+https://github.com/huggingface/parler-tts.git#egg=parler-tts